{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "ignorePatterns": [
    "/*",
    "!/src"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "parserOpts": {
        "plugins": ["jsx"]
      }
    },
    "requireConfigFile": false,
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/base.js"
      }
    }
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "import/extensions": "off",
    "consistent-return": "off",
    "react/no-array-index-key": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "react/jsx-props-no-spreading": "off",
    "no-restricted-syntax": "off",
    "func-names": "off"
  }
}
